.todo-form {
  display: grid;

  grid-template-columns:
    3fr
    1.5fr
    3fr
    180px;

  gap: 20px;

  width: 100%;
  margin-bottom: 35px;
}

.todo-form input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo-form select {
  height: 70px;

  border-radius: 15px;

  border: 1px solid var(--border-color);

  background: var(--input-bg);

  color: var(--text-color);

  font-size: 18px;

  padding: 0 15px;
}

.todo-form button {
  padding: 12px 20px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}